@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>Hola Mundo! Aquí Ariel Meneses probando ASP.NET</p>
    <img src="img/ItechProyect_Logo.jpeg" class="logoP"  alt="Logo"   />
</div>


